body{
  background: #304352;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3{ color: #E84855;
}

a{ color: #4C5454;
  text-decoration: none;
  transition: color 300ms;
}

a:hover{
  color: #FFE0B5;
}
#head:hover{
background: #7b4397;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #dc2430, #7b4397);
border-radius: 50%;
transform: rotate(360deg)/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#head {
  background: #f1f2b5;
  background: -webkit-linear-gradient(to top, #f1f2b5, #135058);
  background: linear-gradient(to top, #f1f2b5, #135058);
  padding-top: 60px;
  transition: background-color 300ms;
  transition: all 300ms;
}

.container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#profile {
    height: 300px;
    width: 300px;
    border: 3px solid black;
}
.fun:hover {
  border-radius: 70%;
}

.fun {
  color: #FFE0B5;
  padding: 20px;
background: #00bf8f;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #001510, #00bf8f);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #001510, #00bf8f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
transition: border-radius 300ms;
}
.round_img:hover {
border-radius: 70%;
}

.round_img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  transition: border-radius 300ms;
}
.list_inline:hover {
  border-radius: 80%;
}

.list_inline {
padding-left: 0;
background: #8e9eab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #eef2f3, #8e9eab);
 transition: border-radius 300ms;/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.list_inline > li {
  font-size: 80px;
  display: inline-block;
  padding: 0px 20px;
}

img{
    transition: border-radius 300ms;
}
img:hover{
    border-radius: 50%;
}
.table {
  background: #7b4397;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #dc2430, #7b4397);
}
